<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Solicitud de Servicios - Medialab Universidad Galileo</title>
    <!-- Enlace a FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Enlace al CSS de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Actualiza las rutas estáticas -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper clearfix">
    <div class="container my-5">
        <h1 class="text-center mb-4">Formulario Solicitud de Servicios - Medialab Universidad Galileo</h1>
        <div class="separator"></div>
	<form method="POST" action="{{ url_for('submit') }}" class="needs-validation" novalidate>
            <!-- Datos del solicitante -->
            <div class="form-section solicitante">
                <h2 class="mb-3">Datos del Solicitante</h2>
                <div class="row g-3">
                    <div class="col-md-6 input-card">
                        <label for="fSolicitud" class="form-label">Fecha de Solicitud:</label>
                        <input type="date" id="fSolicitud" name="fSolicitud" class="form-control custom-input" placeholder="dd/mm/aaa">
                        <div class="invalid-feedback">Por favor ingresa una fecha válida.</div>
                    </div>
                    <div class="col-md-6 input-card">
                        <label for="depto" class="form-label">Nombre del departamento que solicita:</label>
                        <select id="depto" name="depto" class="form-select custom-input">
                            <option value="">Seleccione un departamento</option>
                            <option value="APA">APA</option>
                            <option value="BIENESTAR ESTUDIANTIL">BIENESTAR ESTUDIANTIL</option>
                            <option value="CATI">CATI</option>
                            <option value="CCE">CCE</option>
                            <option value="CEC">CEC</option>
                            <option value="EDCON">EDCON</option>
                            <option value="ESARTE">ESARTE</option>
                            <option value="ESCUELA DOCTORAL">ESCUELA DOCTORAL</option>
                            <option value="ESDAP">ESDAP</option>
                            <option value="ESDRI">ESDRI</option>
                            <option value="ESIP">ESIP</option>
                            <option value="ESPI">ESPI</option>
                            <option value="ESTEC">ESTEC</option>
                            <option value="FABIQ">FABIQ</option>
                            <option value="FACED">FACED</option>
                            <option value="FACISA">FACISA</option>
                            <option value="FACOM">FACOM</option>
                            <option value="FACTEDE">FACTEDE</option>
                            <option value="FACTI">FACTI</option>
                            <option value="FADMOS">FADMOS</option>
                            <option value="FICON">FICON</option>
                            <option value="FINQ">FINQ</option>
                            <option value="FIQUEIS">FIQUEIS</option>
                            <option value="FISICC">FISICC</option>
                            <option value="GES">GES</option>
                            <option value="IC">IC</option>
                            <option value="ICMAR">ICMAR</option>
                            <option value="IDEA">IDEA</option>
                            <option value="IDS">IDS</option>
                            <option value="IES">IES</option>
                            <option value="IICTA">IICTA</option>
                            <option value="IIO">IIO</option>
                            <option value="INFORMÁTICA">INFORMÁTICA</option>
                            <option value="IRE">IRE</option>
                            <option value="IVN">IVN</option>
                            <option value="LASI">LASI</option>
                            <option value="MEDIALAB">MEDIALAB</option>
                            <option value="PDH">PDH</option>
                            <option value="PRESTACIONES Y PERSONAL">PRESTACIONES Y PERSONAL</option>
                            <option value="RECTORIA">RECTORIA</option>
                            <option value="REDES">REDES</option>
                            <option value="VICERRECTORIA">VICERRECTORIA</option>
                            <option value="VICERRECTORIA ADMINISTRATIVA">VICERRECTORIA ADMINISTRATIVA</option>
                            <option value="OTRO">OTRO</option>

                        </select>
                        <div class="invalid-feedback">Por favor selecciona un departamento.</div>
                    </div>
                </div>
                <div class="row g-3 mt-2">
                    <div class="col-md-4">
                        <div class="wizard-form-input position-relative form-group">
                            <label for="nombreSolicita" class="form-label">Nombre de la persona que solicita:</label>
                            <input type="text" id="nombreSolicita" name="nombreSolicita" class="form-control custom-input" placeholder="Ingresa tu nombre aquí" required>
                            <div class="invalid-feedback">Por favor ingresa tu nombre.</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="wizard-form-input position-relative form-group">
                            <label for="correoElectronico" class="form-label">Correo Electrónico:</label>
                            <input type="email" id="correoElectronico" name="email" class="form-control custom-input" placeholder="ejemplo@galileo.edu">
                            <div class="invalid-feedback">Por favor ingresa un correo electrónico válido.</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="wizard-form-input position-relative">
                            <label for="numTelefono" class="form-label">Número de teléfono o extensión:</label>
                            <input type="number" id="numTelefono" name="numTelefono" class="form-control custom-input" placeholder="ejemplo:7374" autocomplete="on">
                            <div class="invalid-feedback">Por favor ingresa un número de teléfono o extensión válida.</div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Datos del evento -->
            <div class="form-section evento">
                <h2 class="mb-3">Datos del Evento</h2>
                <div class="row g-3">
                    <div class="col-md-4">
                        <label for="fechaEvento" class="form-label">Fecha del evento:</label>
                        <input type="date" id="fechaEvento" name="fechaEvento" class="form-control custom-input"   >
                        <div class="invalid-feedback">Por favor selecciona una fecha válida.</div>
                    </div>
                    <div class="col-md-4">
                        <label for="horaInicio" class="form-label">Hora de inicio del evento:</label>
                        <input type="time" id="horaInicio" name="horaInicio" class="form-control custom-input"   >
                        <div class="invalid-feedback">Por favor ingresa una hora válida.</div>
                    </div>
                    <div class="col-md-4">
                        <label for="horaFin" class="form-label">Hora de finalización del evento:</label>
                        <input type="time" id="horaFin" name="horaFin" class="form-control custom-input">
                        <div class="invalid-feedback">Por favor ingresa una hora válida.</div>
                    </div>
                </div>
                <div class="row g-3 mt-2 align-items-end">
                    <div class="col-md-6">
                        <label for="nombreEvento" class="form-label">
                            Nombre del evento:
                        </label>
                        <textarea id="nombreEvento" name="nombreEvento" class="form-control custom-input" rows="2" placeholder="Ingresa el nombre de tu evento."  ></textarea>
                        <div class="invalid-feedback">Por favor ingresa un nombre válido.</div>
                    </div>
                    <div class="col-md-6">
                        <label for="ubicacionEvento" class="form-label ">
                            <i class="fas fa-circle-question help-icon custom" data-bs-toggle="tooltip" data-bs-placement="right"
                            title="Salón / Torre / Dirección / Nombre del lugar.">
                            </i>
                            Ubicación del evento:
                        </label>
                        <textarea id="ubicacionEvento" name="ubicacionEvento" class="form-control custom-input" rows="2" placeholder="Salón / Torre / Dirección / Nombre del lugar."  ></textarea>
                        <div class="invalid-feedback">Por favor ingresa una ubicación válida.</div>
                    </div>
                </div>
            </div>

            <!-- Observaciones adicionales -->
            <div class="form-section adicionales">
                <h2 class="mb-3">Observaciones adicionales</h2>
                <div class="row g-3">
                    <div class="col-md-12">
                        <label for="observaciones" class="form-label">Observaciones adicionales para tu evento:</label>
                        <textarea id="observaciones" name="observaciones" class="form-control custom-input" rows="4"></textarea>
                    </div>
                </div>
            </div>

            <!-- Selección de servicios -->
            <div class="form-section servicios">
                <h2 class="mb-3">Selección de Servicios</h2>
                <div class="row g-3 wizard-option-list">
                    <div class="col-md-4 col-6 taxable-area">
                        <input type="checkbox" id="option1" name="options[]" value="option1" class="tax-check" onchange="updateAdditionalOptions()">
                        <div class="checkbo-box-border"></div>
                        <label for="option1" class="texable-option">
                            Transmisión en vivo (Público)
                            <i class="fas fa-circle-question help-icon custom" data-bs-toggle="tooltip" data-bs-placement="right"
                               title="Este servicio ofrece soporte técnico durante el evento para garantizar que todo funcione correctamente.">
                            </i>
                        </label>
                    </div>
                    <div class="col-md-4 col-6 taxable-area">
                        <input type="checkbox" id="option2" name="options[]" value="option2" class="tax-check" onchange="updateAdditionalOptions()">
                        <div class="checkbo-box-border"></div>
                        <label for="option2" class="texable-option">
                            Opción 2
                            <i class="fas fa-circle-question help-icon custom" data-bs-toggle="tooltip" data-bs-placement="right"
                               title="Este servicio ofrece soporte técnico durante el evento para garantizar que todo funcione correctamente.">
                            </i>
                        </label>
                    </div>
                    <div class="col-md-4 col-6 taxable-area">
                        <input type="checkbox" id="option3" name="options[]" value="option3" class="tax-check" onchange="updateAdditionalOptions()">
                        <div class="checkbo-box-border"></div>
                        <label for="option3" class="texable-option">
                            Opción 3
                            <i class="fas fa-circle-question help-icon custom" data-bs-toggle="tooltip" data-bs-placement="right"
                               title="Este servicio ofrece soporte técnico durante el evento para garantizar que todo funcione correctamente.">
                            </i>
                        </label>
                    </div>
                    <div class="col-md-4 col-6 taxable-area">
                        <input type="checkbox" id="option4" name="options[]" value="option4" class="tax-check" onchange="updateAdditionalOptions()">
                        <div class="checkbo-box-border"></div>
                        <label for="option4" class="texable-option">
                            Opción 4
                            <i class="fas fa-circle-question help-icon custom" data-bs-toggle="tooltip" data-bs-placement="right"
                               title="Este servicio ofrece soporte técnico durante el evento para garantizar que todo funcione correctamente.">
                            </i>
                        </label>
                    </div>
                    <div class="col-md-4 col-6 taxable-area">
                        <input type="checkbox" id="option5" name="options[]" value="option5" class="tax-check" onchange="updateAdditionalOptions()">
                        <div class="checkbo-box-border"></div>
                        <label for="option5" class="texable-option">
                            Opción 5
                            <i class="fas fa-circle-question help-icon custom" data-bs-toggle="tooltip" data-bs-placement="right"
                               title="Este servicio ofrece soporte técnico durante el evento para garantizar que todo funcione correctamente.">
                            </i>
                        </label>
                    </div>
                    <div class="col-md-4 col-6 taxable-area">
                        <input type="checkbox" id="option6" name="options[]" value="option6" class="tax-check" onchange="updateAdditionalOptions()">
                        <div class="checkbo-box-border"></div>
                        <label for="option6" class="texable-option">
                            Opción 6
                            <i class="fas fa-circle-question help-icon custom" data-bs-toggle="tooltip" data-bs-placement="right"
                               title="Este servicio ofrece soporte técnico durante el evento para garantizar que todo funcione correctamente.">
                            </i>
                        </label>
                    </div>
                    <div class="col-md-4 col-6 taxable-area">
                        <input type="checkbox" id="option7" name="options[]" value="option7" class="tax-check" onchange="updateAdditionalOptions()">
                        <div class="checkbo-box-border"></div>
                        <label for="option7" class="texable-option">
                            Opción 7
                            <i class="fas fa-circle-question help-icon custom" data-bs-toggle="tooltip" data-bs-placement="right"
                               title="Este servicio ofrece soporte técnico durante el evento para garantizar que todo funcione correctamente.">
                            </i>
                        </label>
                    </div>
                    <div class="col-md-4 col-6 taxable-area">
                        <input type="checkbox" id="option8" name="options[]" value="option8" class="tax-check" onchange="updateAdditionalOptions()">
                        <div class="checkbo-box-border"></div>
                        <label for="option8" class="texable-option">
                            Opción 8
                            <i class="fas fa-circle-question help-icon custom" data-bs-toggle="tooltip" data-bs-placement="right"
                               title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu lorem pellentesque, suscipit erat nec, tempor urna. Integer feugiat dui semper sem tristique cursus. Pellentesque gravida, nunc at faucibus dictum, turpis neque elementum turpis, a malesuada sapien augue vel odio. Donec pretium, ipsum a consequat lacinia, velit libero dictum sapien, nec euismod arcu augue quis lacus. Nam fringilla enim ut mauris pellentesque, at ultrices est molestie. Donec pharetra faucibus egestas. Morbi sit amet aliquam purus, ut suscipit dolor. Suspendisse a diam commodo lacus vulputate auctor vel non quam.">
                            </i>
                        </label>
                    </div>
                    <div class="col-md-4 col-6 taxable-area">
                        <input type="checkbox" id="option9" name="options[]" value="option9" class="tax-check" onchange="updateAdditionalOptions()">
                        <div class="checkbo-box-border"></div>
                        <label for="option9" class="texable-option">
                            Opción 9
                            <i class="fas fa-circle-question help-icon custom" data-bs-toggle="tooltip" data-bs-placement="right"
                               title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu lorem pellentesque, suscipit erat nec, tempor urna. Integer feugiat dui semper sem tristique cursus. Pellentesque gravida, nunc at faucibus dictum, turpis neque elementum turpis, a malesuada sapien augue vel odio. Donec pretium, ipsum a consequat lacinia, velit libero dictum sapien, nec euismod arcu augue quis lacus. Nam fringilla enim ut mauris pellentesque, at ultrices est molestie. Donec pharetra faucibus egestas. Morbi sit amet aliquam purus, ut suscipit dolor. Suspendisse a diam commodo lacus vulputate auctor vel non quam.">
                            </i>
                        </label>
                    </div>
                </div>
            </div>

            <!-- Opciones adicionales dinámicas -->
            <div id="additional-options-container" class="form-section"></div>

            <!-- Botón de envío -->
        <div class="envio">
            <button type="submit" class="btn btn-primary w-100 custom-btn">Descargar Solicitud</button>
        </div>
        </form>
    </div>
    </div>
    <!-- Toast -->
    <div class="toast-container position-fixed top-50 start-50 translate-middle">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
            <div class="toast-header">
                <strong class="me-auto">📋 Instrucciones</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <ol style="padding-left: 20px;">
                    <li>Revise que todos los datos ingresados sean correctos.</li>
                    <li>Guarde el archivo PDF.</li>
                    <li>Envíe el archivo a: <strong>medialab@galileo.edu</strong>, <strong>dantonio@galileo.edu</strong>.</li>
                    <li>Adjunte cualquier otro documento que considere necesario.</li>
                    <li>Si tiene dudas, contacte a: <strong>medialab@galileo.edu</strong></li>
                </ol>
            </div>
        </div>
    </div>
    <!-- Enlace al JavaScript de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='assets/js/main.js') }}" type="text/javascript"></script>
</body>
</html>
